<!--===== About Section Start =====-->
<section id="about-section">
  <div class="container">
    <div class="row">
      <div class="about_row">
        <div class="twelve">
          <h1>About Me</h1>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="para">
          <h4>Full Stack Developer | MEAN & MERN Stacks</h4>
           
<p>Welcome to my portfolio! I am a dedicated and enthusiastic Full Stack Developer with a passion for creating dynamic and responsive web applications. With extensive experience in both the MEAN (MongoDB, Express.js, Angular, Node.js) and MERN (MongoDB, Express.js, React, Node.js) stacks, I specialize in building scalable and efficient solutions from front-end interfaces to back-end databases.</p>      
        <button class="btn"> <a target="_blank" href="https://drive.google.com/file/d/1xkAFv-CD8grn38YB_h8yYurk8dJrHbFF/view">Download CV <img src="../../../assets/logos/down-arrow.png" alt=""></a></button>
</div>
    </div>
  </div>
</section>
<!--===== About Section End =====-->
