<!--===== About Section Start =====-->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="about_row">
        <div class="twelve">
          <h1>About Me</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="para">
        <h4>Full Stack Developer | MEAN & MERN Stacks</h4>

        <p>
          Welcome to my portfolio! I am a passionate full-stack developer
          specializing in both MEAN (MongoDB, Express.js, Angular, Node.js) and
          MERN (MongoDB, Express.js, React, Node.js) stacks. With a strong
          foundation in JavaScript and its frameworks, I thrive on creating
          robust and scalable web applications that deliver seamless user
          experiences.
        </p>
        <p>
          Proficient in leveraging MongoDB for database management, Express.js
          for server-side application development, Angular for dynamic front-end
          interfaces, and Node.js for backend operations.
        </p>

        <p>
          Skilled in utilizing MongoDB as a flexible NoSQL database, Express.js
          for building RESTful APIs, React for crafting interactive UI
          components, and Node.js for handling server-side logic.
        </p>

        <p>
          I am deeply enthusiastic about staying updated with the latest
          advancements in technology. From exploring serverless architectures to
          integrating AI and machine learning into web applications, I am always
          eager to experiment with cutting-edge tools and frameworks to enhance
          my skill set.
        </p>
        <button class="btn">
          <a
            target="_blank"
            href="https://drive.google.com/file/d/1xkAFv-CD8grn38YB_h8yYurk8dJrHbFF/view"
            >Download CV <img src="../../../assets/logos/down-arrow.png" alt=""
          /></a>
        </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>
<!--===== About Section End =====-->
