<section id="footer">
   
        <div class="container">
            <div class="row">
            <div class="footer-row" >
                <div class="name-div" style="color: #ffff;">@ Nivethika | 2024</div>
                    <div class="social-links">
                        <a href="https://web.facebook.com/nivethika.sivakumar.14" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://medium.com/@nivethikashivakumar56" target="_blank"><i class="fab fa-medium"></i></a>
                        <a href="https://github.com/kumarnivi" target="_blank"><i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/nivethikashivakumar/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
            </div>
               
            </div>
        </div>
       

 
</section>
