
@import '../../../styles.css';

.nav{
    position: fixed;
    width: 89%;
    z-index: 1000;
    top: 10px;
    left: 72px;
    background: rgba(255, 255, 255, 0.2);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
margin: 10px 10px;
border-radius: 10px;
}


.log {
    color: var(--main-color) !important;
}


.nav-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links .menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.menu li{
    padding: 10px 10px;
    color: #fff;
}

li a {
    color: #fff;
}

.nav.scrolled{
background: rgba(255, 255, 255, 0.2);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

}




.btn-1
{
    background-color: var(--main-color);
    padding: 10px 5px;
    border: none;
    color: var(--white);
    width: 127px;
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease-out;
}
.btn-1:hover
{
    color: var(--white);
    /* background-color: rgba(0,167,142,0.7); */
}


 .menu li a {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 0),
        rgba(100, 200, 200, 0)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 180, 1),
        rgba(255, 0, 180, 1),
        rgba(255, 0, 180, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .menu li a:hover {
    background-size: 0 3px, 100% 3px;
  }
  

  @media (max-width:1171px) {
    .nav{
        display: none;
    }
    
  }