 <!--===== Home Section Start =====-->
 <section class="home-section" id="home" style="background: #2b0617;">
   
    <div class="container">
        <div class="row ">
            <div class="col-md-6 text-row">
                <div class=" row  home-text">
                    <h4 class="line-1">Hello</h4>
                    <p>I'm</p>
                    <h1>Nivethika Sivakumar</h1>
                    <span>"Fullstack Developer & frontend Developer"</span>
                    <p> Full-stack developer and enthusiast of React and Angular, adept at transforming ideas into innovative web applications</p>
                         <div class="row" >
                            <div style="display: flex;justify-content: space-between;">
                                <ul class="header-social"> <!--===== Header Social =====-->
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                                <!-- <button class="btn-1">Download cv</button>  -->
                            </div>
                           
                            
                         </div>
                   
                     
                </div>
            </div>

            <div class="col-md-6">
                <div class="home-image" style="padding-bottom: 70px; padding-top: 50px;">
                    <div class="img-box" >
                        <img src="../../../assets/images/colorimg.png" alt=""  height="350px" width="350px">
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>
    <!-- <div class="header-hero-shape"></div>  -->
    <!--===== Hero Shape =====-->
</section>
<!--===== Home Section End =====-->
