/*===== Google Fonts =====*/
/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap'); */
/*===== Global CSS =====*/


html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #930e66;
  --background-color:#2B0617;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.2);
  --black-900: #ffff;
  --black-400: #646f87;
  --black-100: #f7f7f7;
  --white: #fff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}
body {
  font-family: "Kaushan Script", cursive !important;
  font-size: 16px;
  font-weight: normal;
  overflow-x: hidden;
  background-color: var(--white);
}
* {
  text-decoration: none !important;
}
ul {
  list-style: none;
}

.btn-2 {
  background-color: var(--white);
  padding: 15px 40px;
  border: none;
  color: var(--main-color);
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid var(--main-color);
  transition: all 0.3s ease-out;
}
.btn-2:hover {
  color: var(--white);
  background-color: var(--main-color);
  border: none;
}
