<section id="experienced">
  <div class="container">
    <div class="row">
      <div id="skills_row">
        <div class="twelve">
          <h1>Experience</h1>
        </div>
      </div>
    </div>

    <div class="row" id="accodtion_row">
      <h4 class="head">
        My career path has been shaped by the wisdom gained from my experiences.
      </h4>
      <div
        class="col-md-5"
        id="experience_col"
        style="display: flex; align-items: center; justify-content: center"
      >
        <div class="experience_img">
          <img
            src="../../../assets/images/experience.png"
            alt="experience"
            style="
              height: 400px;
              width: 100%;
              object-fit: cover;
              border-radius: 10px;
            "
          />
        </div>
      </div>
      <div
        class="col-md-7"
        style="display: flex; align-items: center; justify-content: center"
      >
        <main style="width: 100%">
          <ul class="item-list">
            <li class="item1" *ngFor="let item of items; let i = index">
              <input type="checkbox" name="point" id="slide{{ i }}" />
              <label for="slide{{ i }}" class="label" (click)="toggle(i)">
                <h5 style="color: var(--main-color)">{{ item.title }}</h5>
                <h5
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  "
                >
                  {{ item.date }}
                  <div class="icon">
                    <span *ngIf="!item.open"
                      ><img src="../../../assets/images/chevron.png" alt=""
                    /></span>
                    <!-- Open icon (down arrow) -->
                    <span *ngIf="item.open"
                      ><img src="../../../assets/images/up-arrow.png" alt=""
                    /></span>
                    <!-- Close icon (up arrow) -->
                  </div>
                </h5>

                <div class="slider" *ngIf="item.open">
                  <div class="row">
                    <div>
                      <div
                        style="
                          display: flex;
                          justify-content: space-between;
                          align-items: center;
                          padding: 10px 0;
                          background-color: var(--main-bg);
                          border-radius: 5px;
                        "
                      >
                        <p style="margin-bottom: 0; padding: 5px">
                          <img
                            src="../../../assets/images/location.png"
                            alt="location"
                            style="margin-right: 10px"
                          />{{ item.location }}
                        </p>

                        <p style="margin-bottom: 0; padding: 5px">
                          <img
                            src="../../../assets/images/link.png"
                            alt="link"
                            style="margin-right: 10px"
                          />
                          <a
                            [href]="item.link"
                            target="_blank"
                            style="color: var(--main-color)"
                            >{{ item.linkName }}</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                  <p>{{ item.description }}</p>
                </div>
              </label>
            </li>
          </ul>
        </main>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>
