
#experienced{
    position: relative;
    background-image: url("../../../assets/images/aboutlap.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -10px;
	padding: 20px 0;
}


#experienced::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #340625e8; /* Adjust the color and opacity */
    z-index: 1;
  }
  

.twelve h1{
    position: relative;
    z-index: 1000;
  }
  
  .twelve h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 160px;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 13px;
    color: #ffff;
    z-index: 1;
  }
  .twelve h1:before {
    background-color: #930e66;
    content: "";
    display: block;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
  }
  .twelve h1:after {
    background-color: #930e66;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 75px;
    margin-bottom: 5px;
  }

#accodtion_row{
    position: relative;
    z-index: 1;
}

.button_div{
	display: flex
}

.button{
	background-color: var(--main-bg);
	border: none;
	border-radius: 10px;
	margin: 5px;
	font-size: 15px;
	height: 45px;
   width:100%;

}


/* for Accordion */

@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap");

:root {
    --color-one: #fcfbff;
    --color-two: #364b44;
    --text-color: #c2e6ef;
    --mem-width: min(20px, calc(100vw - 5px));
    --mem-height: min(20px, calc(100vw - 7px));
    --slide-duration: 0.9s;
    --text-duration: 0.9s;
    --text-l-height: 18px;
    --lbg: "https://lidachk.github.io/cssBayan/cssBayan/assets/control.svg";
    --lbg-50: "https://lidachk.github.io/cssBayan/cssBayan/assets/lbg50.png";
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    list-style: none;
}

@keyframes start {
    0% {
        background-blend-mode: color-burn;
    }
    50% {
        background-blend-mode: darken;
    }
    100% {
        background-blend-mode: lighten;
    }
}

@keyframes start1 {
    0% {
        background-position: -100% 0, 0 0, center;
    }
    100% {
        background-position: 0 100%, 0 0, center;
    }
}



.head {
    display: block;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: left !important;
    color: #ffff;
}

ul.item-list {
    max-width: var(--mem-width);
    margin: 0 auto;
	
}


img {
    max-width: 100%;
}

img[width][height] {
    height: auto;
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
    width: 100%;
    height: auto;
    max-width: none;
}

input {
    display: none;
}

label {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: "h4 control" "img img";
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #fafafa;
    transition: all 0.35s ease-in-out;
    padding: 10px;
	cursor: pointer;

}

label > h4 {
    height: var(--text-l-height);
    overflow: hidden;
    transition: height var(--text-duration) ease-in-out;
    grid-area: h4;
}

label > .control {
    grid-area: control;
}

label > .slider {
    grid-area: img;
}

.slider {
    margin-top: 10px;
    overflow: hidden;
    transition: all var(--slide-duration);
    height: 0;
}

input:checked + label > .slider {
    transition: height var(--slide-duration) ease-in-out;
    height: var(--mem-height);
}

input:checked + label > h4 {
    height: calc(var(--text-l-height) * 3);
    transition: height var(--text-duration) ease-in-out;
}

input:not(:checked) + label > .slider {
    transition: height var(--slide-duration) ease-in-out;
    height: 0;
}



.control {
    display: block;
    width: var(--text-l-height);
    height: var(--text-l-height);
    background: url(../../../assets/logos/control.svg);
    filter: invert(1%) sepia(42%) saturate(1672%) hue-rotate(167deg)
        brightness(101%) contrast(87%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    opacity: 0;
}

input:checked ~ label > .control {
    transform: rotate(-1.5turn);
    -webkit-transform: rotate(-1.5turn);
    -moz-transform: rotate(-1.5turn);
    -ms-transform: rotate(-1.5turn);
    -o-transform: rotate(-1.5turn);
}

@keyframes details-show {
    0% {
        height: 0;
    }
    100% {
        height: var(--mem-height);
    }
}

@keyframes details-hide {
    0% {
        height: var(--mem-height);
    }
    100% {
        height: 0;
    }
}

@keyframes text-show {
    0% {
        height: var(--text-l-height);
    }
    100% {
        height: calc(var(--text-l-height) * 3);
    }
}

@keyframes text-hide {
    0% {
        height: calc(var(--text-l-height) * 3);
    }
    100% {
        height: var(--text-l-height);
    }
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 -0.2em 0.5em #e4ebebc4);
    }
    100% {
        filter: drop-shadow(0 -0.2em 0.8em #eaecec);
    }
}

.label:active > .control,
.label:active {
    opacity: 1;
    animation: 0.9s glow ease-in-out infinite alternate;
}

@media all and (min-width: 820px) and (max-width: 1022px) {
    /*tablet*/
    body {
        background-image: url("../../../assets/logos/control.svg"),
            url("https://lidachk.github.io/cssBayan/cssBayan/assets/filter.svg"),
            linear-gradient(90deg, #dddae5, #ddd5e7, #e9e7ee);
    }

    .label {
        padding: 1em;
    }

    main {
        font-size: 18px;
    }
}

@media all and (min-width: 1023px) {
    /*descktop*/
    :root {
        --mem-width: 38rem;
        --mem-height: 36rem;
    }

    body {
        background-image: url("https://lidachk.github.io/cssBayan/cssBayan/assets/lbg.png"),
            url("https://lidachk.github.io/cssBayan/cssBayan/assets/filter.svg"),
            linear-gradient(90deg, #261947, #63339c, #140f22);
    }

    .head {
        margin: 1em 0;
       
    }

    .label {
        padding: 20px;
    }

    body {
        background-size: min(calc(50wv-20rem), 100vmin), auto, auto;
    }

    main {
        font-size: 18px;
    }
}


.icon {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2em;
    vertical-align: middle;
}


@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}
/* media Screen */

@media (max-width:767px) {
	#experience_col{
		margin-bottom: 20px;
	}


	label.label{
		display: block !important;
	}
}
