<section id="experienced">
    <div class="container">
        <div class="row" id="skills_row">
            <div class="twelve">
              <h1>Experience</h1>
            </div>
          </div>
    
      <div class="row" id="accodtion_row">
        <main>
            <h1 class="head">Way Of Experience</h1>
            <ul class="item-list">
                <li class="item1">
                    <input type="radio" name="point" id="slide1" checked>
                    <label for="slide1" class="label">
                        <h5 style="color: var(--main-color);"> Software Engineer (Intern) </h5>
                        <h5>Aug-2023 to feb-2024</h5>
                        <div class="slider ">
                            <p>contributing to multiple projects while honing my MEAN
                                Stack skills</p>

                        </div>
                    </label>
                </li>
                <li class="item2">
                    <input type="radio" name="point" id="slide2">
                    <label for="slide2" class="label">
                        <h5 style="color: var(--main-color);">UKi Codding School </h5>
                        <h5>Nov-2023 to June-2024</h5>
                        <div class="slider ">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi libero dolor harum non enim autem doloribus, nisi accusantium perspiciatis inventore pariatur error ducimus labore architecto tempora amet assumenda. Placeat in eaque explicabo sunt pariatur! Corporis laboriosam debitis sed eligendi quaerat!</p>

                        </div>
                    </label>
                </li>
                <li class="item3">
                    <input type="radio" name="point" id="slide3">
                    <label for="slide3" class="label">
                        <h5 style="color: var(--main-color);">Diploma in English</h5>
                        <h5>Nov-2023 to June-2024</h5>
                        <div class="slider ">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi libero dolor harum non enim autem doloribus, nisi accusantium perspiciatis inventore pariatur error ducimus labore architecto tempora amet assumenda. Placeat in eaque explicabo sunt pariatur! Corporis laboriosam debitis sed eligendi quaerat!</p>

                        </div>
                    </label>
                </li>
                <li class="item4">
                    <input type="radio" name="point" id="slide4">
                    <label for="slide4" class="label">
                        <h4>
                            Codewars and Cthulhu,<br>
                            Strange bedfellows in the night,<br>
                            Code warriors unite.</h4><span class="control"></span>
                        <div class="slider ">
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi libero dolor harum non enim autem doloribus, nisi accusantium perspiciatis inventore pariatur error ducimus labore architecto tempora amet assumenda. Placeat in eaque explicabo sunt pariatur! Corporis laboriosam debitis sed eligendi quaerat!</p>

                        </div>
                    </label>
                </li>
                
            </ul>
        </main>
      </div>
    </div>
   
</section>
